In [1]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_json("../processed_data/data.jsonl", lines=True)
df.head()

,title,input_text,target_text,compression_ratio,summary_len,readability_score,rouge-1,rouge-2,rouge-l
0,Moundou,Moundou is the second-largest city in Chad an...,Moundou is the capital of the Logone Occidenta...,0.700809,260,86.71,0.538462,0.333333,0.538462
1,"Lone Rock, Iowa","Lone Rock is a city in Kossuth County, Iowa, U...",Lone Rock is a city in Iowa in the United States.,0.230047,49,68.77,0.465116,0.285714,0.465116
2,Japan Mint,The Japan Mint is an Independent Administrati...,The Japan Mint is an Incorporated Administrat...,0.574405,193,43.69,0.470588,0.303797,0.470588
3,Arkhangelsk Oblast,Arkhangelsk Oblast is a federal subject of Ru...,Arkhangelsk Oblast is one of the federal subj...,0.548577,559,50.12,0.483660,0.270270,0.483660
4,Fred Kida,Fred Kida was a Japanese-American comic boo...,Fred Kida was a Japanese-American comic book...,0.504026,313,57.27,0.554622,0.418301,0.554622

In [4]:
df = df[["input_text", "target_text"]]
df.head()

,input_text,target_text
0,Moundou is the second-largest city in Chad an...,Moundou is the capital of the Logone Occidenta...
1,"Lone Rock is a city in Kossuth County, Iowa, U...",Lone Rock is a city in Iowa in the United States.
2,The Japan Mint is an Independent Administrati...,The Japan Mint is an Incorporated Administrat...
3,Arkhangelsk Oblast is a federal subject of Ru...,Arkhangelsk Oblast is one of the federal subj...
4,Fred Kida was a Japanese-American comic boo...,Fred Kida was a Japanese-American comic book...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9869 entries, 0 to 9868
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   input_text   9869 non-null   object
 1   target_text  9869 non-null   object
dtypes: object(2)
memory usage: 154.3+ KB

In [13]:
df.dropna(subset=["input_text", "target_text"], inplace=True)
df.drop_duplicates(subset=["input_text", "target_text"], inplace=True)

In [14]:
from IPython.display import display
import ipywidgets as widgets

# Create a slider to scroll through the dataset
index_slider = widgets.IntSlider(min=0, max=len(df)-1, step=1, description='Index:')

def show_entry(i):
    input_text = df.loc[i, 'input_text']
    target_text = df.loc[i, 'target_text']
    
    input_box = widgets.HTML(
        value=f"<b>Input Text:</b><br><div style='white-space: pre-wrap; word-wrap: break-word; max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;'>{input_text}</div>"
    )

    target_box = widgets.HTML(
        value=f"<b>Target Text:</b><br><div style='white-space: pre-wrap; word-wrap: break-word; max-height: 300px; overflow-y: auto; border: 1px solid #ccc; padding: 10px;'>{target_text}</div>"
    )

    display(input_box, target_box)

widgets.interact(show_entry, i=index_slider)

interactive(children=(IntSlider(value=0, description='Index:', max=9865), Output()), _dom_classes=('widget-int…

In [15]:
idx_rm = [1, 2, 6]
df.drop(index=idx_rm, inplace=True)
df.reset_index(drop=True, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9863 entries, 0 to 9862
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   input_text   9863 non-null   object
 1   target_text  9863 non-null   object
dtypes: object(2)
memory usage: 154.2+ KB

In [17]:
# save dataframe to jsonl
df.to_json("../processed_data/data.jsonl", orient="records", lines=True)