In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('../raw_data/simple_en_wiki.db')
cursor = conn.cursor()

df = pd.read_sql_query("SELECT * FROM articles", conn)
df.head()

,id,title,input_text,target_text
0,1,Guachochi,Guachochi is a city in the south-western porti...,Guachochi is a city in the south-western Chih...
1,2,Around the Fur,Around the Fur is the second studio album by t...,Around the Fur is the second Studio Album by A...
2,3,Thunbergia,Thunbergia is a genus of flowering plants in t...,Thunbergia Retz. is a genus of flowering plant...
3,4,Whaler,A whaler or whaling ship is a specialized vess...,"A whaler is a person who hunts whales, or the ..."
4,5,On the Beach (Chris Rea album),On the Beach is the eighth studio album by Bri...,On the Beach is the eighth studio album by Eng...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           460 non-null    int64
 1   title        460 non-null    object
 2   input_text   460 non-null    object
 3   target_text  457 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.5+ KB

In [5]:
df["compression_ratio"] = df["input_text"].str.len() / df["target_text"].str.len()

In [6]:
df["compression_ratio"].describe()

count    457.000000
mean       2.932721
std        4.120004
min        0.086483
25%        1.000000
50%        1.561404
75%        3.332722
max       45.765625
Name: compression_ratio, dtype: float64

In [7]:
import numpy as np

df.loc[np.argmax(df["compression_ratio"])]

id                                                                  69
title                            List of songs recorded by Demi Lovato
input_text           American singer Demi Lovato has recorded mater...
target_text          This is a list of songs recorded by American s...
compression_ratio                                            45.765625
Name: 68, dtype: object

In [8]:
df.drop(np.argmax(df["compression_ratio"]), inplace=True)

In [10]:
large_summaries = df[df["compression_ratio"] > 1.3]

In [11]:
large_summaries.head()

,id,title,input_text,target_text,compression_ratio
0,1,Guachochi,Guachochi is a city in the south-western porti...,Guachochi is a city in the south-western Chih...,1.404145
1,2,Around the Fur,Around the Fur is the second studio album by t...,Around the Fur is the second Studio Album by A...,4.220930
2,3,Thunbergia,Thunbergia is a genus of flowering plants in t...,Thunbergia Retz. is a genus of flowering plant...,1.696154
4,5,On the Beach (Chris Rea album),On the Beach is the eighth studio album by Bri...,On the Beach is the eighth studio album by Eng...,1.320413
6,7,Carl Adolph Agardh,"Carl Adolph Agardh (23 January 1785 in Båstad,...",Carl Adolph Agardh was a Swedish botanist and ...,1.612613

In [12]:
large_summaries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 270 entries, 0 to 459
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 270 non-null    int64
 1   title              270 non-null    object
 2   input_text         270 non-null    object
 3   target_text        270 non-null    object
 4   compression_ratio  270 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 12.7+ KB