In [16]:
import sqlite3
import pandas as pd

In [17]:
conn = sqlite3.connect('../raw_data/simple_en_wiki.db')
cursor = conn.cursor()

df = pd.read_sql_query("SELECT * FROM articles", conn)
df.head()

,id,title,input_text,target_text
0,1,Johan August Arfwedson,Johan August Arfwedson (12 January 1792 – 28 O...,Johan August Arfwedson (12 January 1792 – 28 O...
1,2,Kokarit frog,Humerana lateralis is a species of frog in the...,"The Kokarit frog, meng-yang frog, yellow frog,..."
2,3,Moundou,Moundou (Arabic: موندو) is the second-largest ...,Moundou is the capital of the Logone Occidenta...
3,4,Kamrieng District,Kamrieng (Khmer: កំរៀង) is a district (srok) o...,Kamrieng District (Khmer: កំរៀង) is a district...
4,5,Mother 1 + 2,Mother (known as EarthBound outside Japan) is ...,Mother 1 + 2 is a video game for the Game Boy ...

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1385 entries, 0 to 1384
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1385 non-null   int64
 1   title        1385 non-null   object
 2   input_text   1385 non-null   object
 3   target_text  1378 non-null   object
dtypes: int64(1), object(3)
memory usage: 43.4+ KB

In [8]:
df["compression_ratio"] = df["input_text"].str.len() / df["target_text"].str.len()

In [9]:
df["compression_ratio"].describe()

/home/am/miniforge3/lib/python3.11/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

count    926.000000
mean            inf
std             NaN
min        0.036534
25%        1.075848
50%        1.802617
75%        3.427325
max             inf
Name: compression_ratio, dtype: float64

In [10]:
import numpy as np

df.loc[np.argmax(df["compression_ratio"])]

id                                                                 505
title                                               Black widow pulsar
input_text           The Black Widow Pulsar (PSR B1957+20) is an ec...
target_text
compression_ratio                                                  inf
Name: 504, dtype: object

In [11]:
df.drop(np.argmax(df["compression_ratio"]), inplace=True)

In [12]:
large_summaries = df[df["compression_ratio"] > 1.3]

In [14]:
large_summaries.sort_values("compression_ratio", ascending=False).head()

,id,title,input_text,target_text,compression_ratio
62,63,Red Star F.C.,Red Star Football Club (French pronunciation: ...,Red Star F.C. 93 is a football club which play...,27.724138
471,472,Haakon IV,Haakon IV Haakonsson (c. March/April 1204 – 16...,Haakon IV Haakonsson is known as King of Norwa...,24.523256
573,574,"Valenzuela, Philippines","Valenzuela (, Tagalog: [valensˈwela]), officia...",Valenzuela is a city in the Philippines. It is...,24.169014
279,280,Lynx (constellation),Lynx is a constellation named after the animal...,Lynx is a constellation in the northern sky.,23.909091
58,59,1975 Formula One season,The 1975 Formula One season was the 29th seaso...,The 1975 Formula One season saw Niki Lauda cro...,21.174603

In [15]:
large_summaries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 597 entries, 1 to 929
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 597 non-null    int64
 1   title              597 non-null    object
 2   input_text         597 non-null    object
 3   target_text        597 non-null    object
 4   compression_ratio  597 non-null    float64
dtypes: float64(1), int64(1), object(3)
memory usage: 28.0+ KB